@use '../../../app/variables' as *;
.mainContainer {
  position: relative;
  width: 100%;
  background-color: transparent;
}

.stickyWrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    width: 100%;
    top: -20%;
  }
}

.placeholder {
  background-color: $color-bg-primary;
  height: 200px;
  @media (min-width: 500px) {
    display: none;
  }
}

.videoContainer {
  width: 80%;
  max-width: 1000px;

  position: relative;
  top: 20%;
  left: 130%;
  overflow: hidden;
  border-radius: 12px;
  padding-top: 30px;

  @media (max-width: 500px) {
    top: -10%;
    left: 0;
    width: 100%;
    box-shadow:
      0 0 30px 20px $color-bg-primary,
      inset 0 0 0px 30px $color-bg-primary;
  }
}

.videoContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 10%;
  pointer-events: none;
  box-shadow: inset 0 0 30px 15px $color-bg-primary;
}

.videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contentOverlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  background-color: red;
}

.distanceHolder {
  height: 200px;
}
.textContainer {
  width: 50%;
  padding: 2rem;
  padding-left: 15%;

  @media (max-width: 500px) {
    width: 90%;
  }

  h2 {
    font-weight: bold;
  }
}
