@use '../../../app/variables' as *;

.scrollContainer {
  height: 200vh;
  position: relative;
  background-color: #000;
  width: 100%;
  margin-top: -75px;
  margin-bottom: -80vh;
  z-index: 1;

  @media (max-width: 1068px) {
    margin-bottom: -120vh;
  }
  @media (max-width: 768px) {
    margin-bottom: -110vh;
  }
  @media (max-width: 568px) {
    margin-bottom: -135vh;
  }
}

.stickyWrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1068px) {
    height: 65vh;
  }

  @media (max-width: 768px) {
    height: 45vh;
  }

  @media (max-width: 568px) {
    height: 30vh;
  }
  @media (max-width: 468px) {
    height: 28vh;
  }
}

.videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.titleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoFade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  @media (max-width: 1068px) {
    svg {
      width: 250px;
    }
  }
  @media (max-width: 768px) {
    svg {
      width: 200px;
    }
  }
  @media (max-width: 568px) {
    svg {
      width: 180px;
    }
  }
  @media (max-width: 468px) {
    svg {
      width: 120px;
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.placefiler {
  position: sticky;
  height: auto;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: -25vh;
  pointer-events: none;
  z-index: 10;
  top: 200px;

  h2 {
    font-size: 6rem !important;
    line-height: 5.5rem !important;
    letter-spacing: 4px !important;
  }

  &.invisible {
    animation: zoomOut 1s forwards;
  }

  &.visible {
    animation: zoomIn 1s forwards;
  }
  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 768px) {
    top: 280px;
  }
  @media (max-width: 568px) {
    top: 160px;
    h2 {
      font-size: 4.2rem !important;
      line-height: 3.8rem !important;
      letter-spacing: 4.4px !important;
    }
    &.invisible {
      animation: zoomOut 1s forwards;
    }
  }

  &[data-position='categories'] {
    top: 300px;
    h2 {
      font-size: 4.8rem !important;
      line-height: 4.4rem !important;
      letter-spacing: 4.4px !important;
    }
    &.invisible {
      animation: zoomOut 1s forwards;
    }

    @media (max-width: 568px) {
      top: 180px;
      h2 {
        font-size: 3.2rem !important;
        line-height: 2.8rem !important;
      }
      &.invisible {
        animation: zoomOut 1s forwards;
      }
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(0.8);
    }
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
