@use '../../../app/variables' as *;

.diashowContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $color-bg-primary;

  @media (max-width: 768px) {
    height: 400px;
  }

  @media (max-width: 480px) {
    height: 300px;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 2;
      animation: slideInFromLeft 0.8s ease-in-out forwards;
    }

    &.prev {
      opacity: 1;
      visibility: visible;
      z-index: 1;
      animation: slideOutToRight 0.8s ease-in-out forwards;
    }

    .image {
      object-fit: contain;
    }
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.fullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
}
