@use '../../../app/variables' as *;

.container {
  display: flex;
  gap: 1rem;
  max-width: 1400px;
  margin: 32rem auto 0;
  width: 100%;

  background-color: #000;

  clip-path: inset(-100% 0% 0% 0%);
  margin-bottom: -50px;
  height: 800px;
  justify-content: center;

  @media (max-width: 1068px) {
    margin: 20rem auto -50px;
  }
  @media (max-width: 768px) {
    margin: 8rem auto -50px;
  }
  @media (max-width: 498px) {
    margin: -2rem auto -120px;
  }
}

.overlay {
  position: relative;
  top: -50px;
  height: 105px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #000);
  z-index: 999;
}
.row {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 30vw;

  .image {
    width: 100%;
    height: auto;
  }
}

//@media (max-width: 768px) {
//  .gridContainer {
//    grid-template-columns: 1fr 1fr;
//    gap: 1rem;
//  }
//}
