@use '../../../app/variables' as *;

.text {
  &[data-decoration='false'] {
    border-bottom: none !important;
  }
}

.text {
  color: $color-primary;
  letter-spacing: 2.2px;
  font-weight: normal;
  font-family: $font-family-second;
  padding: 2px 4px;

  &:hover {
    transition: ease-in 0.1s;
    border-bottom: 1px solid $color-primary;
  }

  &[data-active='true'] {
    border-bottom: 2px solid $color-primary;
  }
}
