@use '../../../app/variables' as *;

.calculatorContainer {
  padding: 24px;
  background-color: $color-bg-primary;
  border-radius: 12px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-primary;
  border-bottom: 1px solid $color-primary-200;
  padding-bottom: 6px;

  @media (min-width: 498px) {
    font-size: 1rem;
    width: 100%;
  }
}

.summaryList {
  padding-left: 0;
  list-style: none;
  margin-bottom: 16px;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  padding: 0;
  p:first-child:first-letter {
    text-transform: uppercase;
  }
  p:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50%;
  }

  p:last-child {
    white-space: nowrap;
  }
}

.totalSection {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 2px solid $color-primary-200;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span:last-child {
    text-align: right;
  }
}
